<template>
  <div>
    <div class="container">
        <div class="columns">
            <section class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Contact Form</h1>
                        <h3 class="subtitle">
                             Fill it up with your details
                        </h3> 
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</template>

<script>
export default {
  
}
</script>




