<template>
  <div>
    <div class="container">
        <div class="columns">
      <div class="column is-10-mobile is-offset-1-mobile">
        <h1 class="title is-4">Your Details</h1>
        <hr>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="images/jhon-meew.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                  <p class="has-text-centered title is-4">John Meew</p>
                  <p class="has-text-centered subtitle is-6">Premium Member
                  <br> john@mail.com</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="https://facebook.com">Facebook</a>
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                <a href="https://facebook.com">Twitter</a>
              </span>
            </p>
          </footer>
        </div>
      </div>
      <div class="column is-10-mobile is-offset-1-mobile">
        <h1 class="title is-4">Sign-Up form</h1>
        <hr>
        <div class="field-body">
          <div class="field">
            <label class="label">Name</label>
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Name">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Surname</label>
            <p class="control is-expanded has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Surname">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="email" placeholder="Your Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <!-- <p class="help is-danger">This email is invalid</p> -->
        </div>
        <div class="field">
          <label class="label">Password</label>
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Your Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label class="label">Membership</label>
          <div class="control">
            <div class="select">
              <select>
                <option>Select package</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Address</label>
          <div class="control">
            <textarea class="textarea" placeholder="Your Address"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox"> I agree to the
              <a href="#">terms and conditions</a>
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="radio">
              <input type="radio" name="question"> Male
            </label>
            <label class="radio">
              <input type="radio" name="question"> Female
            </label>
          </div>
        </div>
        <div class="buttons">
          <button class="button is-fullwidth  is-info">Submit</button>
        </div>
      </div>
    </div>
    <hr>
        
    </div>
</div>
</template>

<script>
export default {
  
}
</script>
