<template>
  <div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <footer class="footer">
                    <div class="container">
                        <div class="content has-text-centered">
                            <p>
                                <strong>Simple form</strong> by
                                <a href="https://jgthms.com">kws3.media.</a>. The source code is licensed
                                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
                                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                            </p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  
}
</script>