
	<template>
			<div class="container">
				<div class="columns">
					<div class="column is-10-mobile is-offset-1-mobile">
						<nav class="breadcrumb" aria-label="breadcrumbs">
							<ul>
								<li>
									<a href="#">Home</a>
								</li>
								<li>
									<a href="#">Products</a>
								</li>
								<li>
									<a href="#">Accsesories</a>
								</li>
								<li>
									<a href="#">Purshase</a>
								</li>
								<li class="is-active">
									<a href="#" aria-current="page">Sign Up</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
		</div>
	</template>	

	<script>
		export default{
			data(){
				return {}
			},
			methods: {
				activeCurrentView(view){
					this.$emit('changeview', view)
				}
			}
		}
			
	</script>
