<template>
 <div>
    <AppHero/>
    <AppBreadCrumb/>
    <Card/>
    <Footer/>
  </div>

</template>



<script>
import AppBreadCrumb from "./AppBreadCrumb.vue";
import AppHero from "./../views/AppHero.vue";
import Card from "./../views/Card.vue";
import Footer from "./../views/Footer.vue";

export default {
  data() {
    return {
      activeView: "home"
    };
  },
  components: {
    AppBreadCrumb,
    AppHero,
    Card,
    Footer
  },
  methods: {
    changeView(view) {
      console.log(view);
      this.activeView = view;
    }
  }
};
</script>

