<template>
  <div>
    <div class="container">
      <ViewWrapper></ViewWrapper>
    </div>
  </div>
</template>

<script>

import ViewWrapper from './components/helpers/ViewWrapper.vue'

export default {
  data(){
    return {
  
    }
  },
  components:{
    ViewWrapper
  },
}
</script>

<style>

</style>
